allow mediaserver default_prop:property_service set;
allow mediaserver init:unix_dgram_socket sendto;
allow mediaserver socket_device:sock_file write;
allow mediaserver system_data_file:sock_file write;
