allow mm-qcamerad init:unix_stream_socket connectto;
allow mm-qcamerad socket_device:sock_file rw_file_perms;
allow mm-qcamerad qdsp_device:chr_file r_file_perms;
